@media screen and (max-width: 1400px) {
  .container {
    max-width: 1210px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    max-width: 1025px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: 800px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: 610px;
  }
}
@media screen and (max-width: 586px) {
  .container {
    max-width: 400px;
  }
}
.coats__text {
  text-align: center;
  font-family: 'open sans';
}
.coats__text h2 {
  font-size: 80px;
  margin: 0px 0px 80px 0px;
}
@media screen and (max-width: 1200px) {
  .coats__text h2 {
    font-size: 60px;
    margin: 0px 0px 65px 0px;
  }
}
@media screen and (max-width: 1024px) {
  .coats__text h2 {
    font-size: 50px;
    margin: 0px 0px 50px 0px;
  }
}
@media screen and (max-width: 1024px) {
  .coats__text h2 {
    font-size: 40px;
    margin: 0px 0px 40px 0px;
  }
}