.collection {
  padding: 100px 0px;

  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7.12em;
    align-items: center;
    font-family: 'open sans';
    color: #32353C;
  }

  &__text {

    &--first {
      order: 2;
    }

    h2 {
      font-size: 36px;
      margin-bottom: 16px;
    }
    
    p {
      font-size: 50px;
      font-weight: bold;
      margin-bottom: 46px;

      span {
        color: #b79b6c;
      }
    }
  }

  &__clothes__container {
    
    &--style {
      order: 1;
    }
  }

  &__clothes {
    position: relative;
    overflow: hidden;
    margin-bottom: 16px;

    img {
      width: 100%;
      display: block;
    }

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      list-style: none;
      position: absolute;
      bottom: -60px;
      left: 50%;
      transform: translate(-50%, 0);
      width: 80%;
      opacity: 0;
      transition: all 0.5s cubic-bezier(0.65, 0.05, 0.36, 1) 0s;
    }
  }

  &__clothes:hover ul {
    opacity: 1;
    bottom: 60px;
  }

  &__link {
    padding: 16px 55px;
    background: #32353C;
    color: #ffffff;
    font-size: 20px;
    border: 1px solid #32353C;
    transition: 0.25s;
    
    &--first {
      padding: 16px 30px;
    }
  }

  &__link:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #32353C;
  }
  
  &__text2 {
    
    h2 {
      font-size: 25px;
    }
  
    p {
      font-size: 30px;
      font-weight: bold;
      margin: 8px 0px;
    }
  
    h3 {
      text-decoration: line-through;
      color: #6A707E;
      font-weight: bold;
      font-size: 24px;
      display: inline-block;
    }
  
    span {
      color: #32353C;
      font-size: 24px;
      font-weight: bold;
      margin-left: 15px;
    }
  }

  &__sale {
    position: absolute;
    top: 30px;
    left: 18px;

    h3 {
      font-size: 20px;
      padding: 10px 25px;
      text-decoration: none;
      color: #ffffff;
      background: #B79B6C;;
    }
  }

  @include xx {
    padding: 80px 0px;

	  &__content {
      gap: 5.12em;
    }

    &__text {
  
      h2 {
        font-size: 28px;
        margin-bottom: 12px;
      }
      
      p {
        font-size: 42px;
        margin-bottom: 18px;
      }
    }

    &__clothes {
  
      ul {
        width: 85%;
      }
    }

    &__link  {
      padding: 14px 50px;
      font-size: 18px;
      
      &--first {
        padding: 14px 25px;
      }
    }

    &__text2 {

      h2 {
        font-size: 20px;
      }
  
      p {
        font-size: 22px;
      }
  
      h3 {
        font-size: 24px;
      }
  
      span {
        font-size: 24px;
        margin-left: 15px;
      }
    }

    &__sale {
  
      h3 {
        font-size: 17px;
        padding:  7px 20px;
      }
    }

    &__btns__container {
      width: 84%;
      bottom: 28%;
    }
	}

  @include xl {
    padding: 60px 0px;

	  &__content {
      gap: 4.12em;
    }

    &__text {
  
      h2 {
        font-size: 25px;
        margin-bottom: 12px;
      }
      
      p {
        font-size: 35px;
        margin-bottom: 10px;
      }
    }

    &__clothes:hover ul {
      bottom: 40px;
    }

    &__link  {
      padding: 12px 40px;
      font-size: 16px;
      
      &--first {
        padding: 12px 20px;
      }
    }

    &__sale {
  
      h3 {
        font-size: 15px;
        padding:  6px 16px;
      }
    }

    &__text2 {

      h2 {
        font-size: 18px;
      }
  
      p {
        font-size: 20px;
      }
  
      h3 {
        font-size: 22px;
      }
  
      span {
        font-size: 22px;
        margin-left: 15px;
      }
    }

    &__btns__container {
      width: 80%;
      bottom: 29%;
    }
	}

  @include lg {
    padding: 50px 0px;

	  &__content {
      gap: 3.12em;
    }

    &__text {
  
      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }
      
      p {
        font-size: 27px;
        margin-bottom: 0px;
      }
    }

    &__clothes {

      ul {
        width: 90%;
      }
    }

    &__clothes:hover ul {
      bottom: 30px;
    }

    &__link  {
      padding: 10px 28px;
      font-size: 14px;
      
      &--first {
        padding: 10px 15px;
      }
    }

    &__sale {
      left: 10px;
      top: 18px;

      h3 {
        font-size: 13px;
        padding:  5px 15px;
      }
    }

    &__text2 {

      h2 {
        font-size: 16px;
      }
  
      p {
        font-size: 16px;
      }
  
      h3 {
        font-size: 18px;
      }
  
      span {
        font-size: 18px;
        margin-left: 12px;
      }
    }
	}

  @include md {
    padding: 50px 0px 0px 0px;

    &--container {
      padding: 0;
      margin: 0;
      max-width: 100%;
    }

	  &__content {
      grid-template-columns: 1fr;
      text-align: center;
    }

    &__clothes__container {
      max-width: 75%;
      margin: 0 auto;
    }

    &__text {

      &--first {
        padding: 40px 0px 50px 0px;
        background: #f7f7f7;
      }
  
      h2 {
        font-size: 26px;
      }
      
      p {
        font-size: 25px;
      }
    }

    &__clothes {

      ul {
        width: 70%;
      }
    }

    &__link {
      padding: 14px 50px;
      font-size: 16px;
      
      &--first {
        padding: 14px 35px;
      }
    }

    &__sale {
      top: 30px;
      left: 18px;

      h3 {
        font-size: 15px;
        padding: 6px 16px;
      }
    }

    &__text2 {

      h2 {
        font-size: 23px;
      }
  
      p {
        font-size: 26px;
      }
  
      h3 {
        font-size: 22px;
      }
  
      span {
        font-size: 22px;
      }
    }
	}

  @include sm {
    padding: 40px 0px 0px 0px;

	  &__content {
      gap: 2.50em;
    }

    &__text {

      &--first {
        padding: 25px 0px 35px 0px;
      }
  
      h2 {
        font-size: 22px;
      }
      
      p {
        font-size: 20px;
      }
    }

    &__clothes {

      ul {
        width: 80%;
      }
    }

    &__link  {
      padding: 10px 31px;
      
      &--first {
        padding: 10px 14px;
      }
    }

    &__text2 {

      h2 {
        font-size: 18px;
      }
  
      p {
        font-size: 19px;
        margin: 6px 0px;
      }
  
      h3 {
        font-size: 18px;
      }
  
      span {
        font-size: 18px;
        margin-left: 10px;
      }
    }
	}
}