.fluidcontainer {
  width: 100%;
  padding-right: 1rem;
  padding-left: 1rem;
}

.container {
  max-width: 1750px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 1rem;
  padding-left: 1rem;

  @include xx {
    max-width: 1210px;
  }

  @include xl {
    max-width: 1025px;
  }

  @include lg {
    max-width: 800px;
  }

  @include md {
    max-width: 610px;
  }

  @include sm {
    max-width: 400px;
  }
}