@mixin sm {
  @media screen and (max-width: 586px) {
    @content;
  }
}

@mixin md {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin lg {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin xx {
  @media screen and (max-width: 1400px) {
    @content;
  }
}

