.menu {
  list-style: none;
  display: flex;
  align-items: center;
  
  
  &__item {
    margin-right: 35px;
    text-align: center;

    &--last{
      margin: 0;
    }

    &--changes {
      margin-right: 60px;
    }
  }

  &__link {
    font-size: 22px;
    font-weight: 600;
    display: block;

    &--style:hover {
      color: #b79b6c;
    }

    img {
      width: 100%;
    }
  }

  @include xx {   

    &__item {
      margin-right: 25px;

      &--last{
        margin: 0;
      }
    }

    &__link {
      font-size: 19px;
    }
  } 

  @include xl {

    &__item {
      margin-right: 16px;

      &--last{
        margin: 0;
      }
    }

    &__link {
      font-size: 17px;

      img {
        width: 75%;
      }
    }
  }

  @include lg {

     &__item {
      margin-right: 15px;

      &--last{
        margin: 0;
      }
    }

    &__link {
      font-size: 15px;

      img {
        display: none;
      }
    }
  }
  @include md {

     &__item {
      margin-right: 12px;

      &--last{
        margin: 0;
      }
    }

    &__link {
      font-size: 14px;
    }
  }
}