.new {
  font-family: 'open sans';

  &__socialicons__container {
    padding: 100px 0px;
    border-top: 1px solid #d4d4d4;
    color: #32353C;
  }

  &__products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 55px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__item {
    position: relative;

    &--change {
      grid-column: span 2;
    }
  }

  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    width: 90%;

    &--second {
      width: 75%;
      transform: translate(-60%, -50%);
    }

    h2 {
      font-size: 26px;
      margin-bottom: 22px;
    }

    p {
      font-size: 25px;
      font-weight: bold;
      margin-bottom: 36px;
    }
  }
  
  .hideText {
    display: none;
  }

  &__btn {
    font-size: 20px;
    background: #32353C;
    font-weight: bold;
    padding: 16px 45px 16px 28px;
    border: none;
    position: relative;
    color: #ffffff;
    border: 2px solid #32353C;
    transition: .25s;
    display: inline-block;

    &--colltext:hover {
      background: transparent;
      color: #32353C;
    }

    &--newfirst:hover {
      background: rgba(255 , 255 , 255 ,0.5);
      color: #000000;
    }
  }

  &__btn::after {
    content: "";
    position: absolute;
    background: url(../img/whitearrow.png) no-repeat;
    width: 12px;
    height: 12px;
    background-size: contain;
    top: 50%;
    right: 0;
    margin-top: 2px;
    transform:  translate(-100% , -50%);
  }

  &__btn:hover::after {
    background: url(../img/blackarrow.png) no-repeat;
    background-size: contain;
  }

  @include xx {

    &__socialicons__container {
      padding: 80px 0px;
    }

    &__products {
      gap: 45px;
    }

    &__text {
  
      h2 {
        font-size: 22px;
        margin-bottom: 18px;
      }
  
      p {
        font-size: 23px;
        margin-bottom: 26px;
      }
    }

    &__btn {
      font-size: 17px;
      padding: 14px 35px 14px 22px;
    }

    &__btn::after {
      width: 11px;
      height: 11px;
    }
  }

  @include xl {

    &__products {
      gap: 40px;
    }

    &__socialicons__container {
      padding: 60px 0px;
    }

    &__text {
  
      h2 {
        font-size: 19px;
        margin-bottom: 14px;
      }
  
      p {
        font-size: 19px;
      }
    }

    &__btn {
      font-size: 15px;
      padding: 12px 30px 12px 18px;
    }

    &__btn::after {
      width: 10px;
      height: 10px;
    }
  }

  @include lg {

    &__socialicons__container {
      padding: 50px 0px;
    }

    &__text {
  
      h2 {
        font-size: 15px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 15px;
      }
    }

    &__btn {
      font-size: 11px;
      padding: 10px 26px 10px 12px;
    }
  }

  @include md {

    &__products {
      grid-template-columns: 1fr 1fr;
      gap: 25px;
    }
    
    &__text {
  
      h2 {
        font-size: 20px;
        margin-bottom: 10px;
      }
  
      p {
        font-size: 24px;
      }
    }

    &__socialicons__container {
      padding: 40px 0px;
    }
  
    &__btn {
      padding: 12px 38px 12px 23px;
      font-size: 15px;
    }
  }

  @include sm {

    &__products {
      grid-template-columns: 1fr;
      gap: 20px;
    }

    &__item {
    
      &--change {
        grid-column: span 1;
      }
  
      &--one {
        order: 2;
      }
  
      &--two {
        order: 3;
      }
  
      &--three {
        order: 1;
      }
  
      &--four {
        order: 2;
      }
    }

    &__text {
  
      p {
        font-size: 22px;
        margin-bottom: 18px;
      }
    }
  
    &__btn {
      padding: 10px 24px 10px 15px
    }

    &__btn::after {
      transform: translate(-50%, -50%);
    }
  }
}

.scrolltext {
  padding: 100px 0px 50px 0px;
}

.marquee {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
  font-size: 130px;
  font-weight: bold;
}

.track {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 32s linear infinite;
}

.marquee1 {
  position: relative;
  width: 100vw;
  max-width: 100%;
  height: 200px;
  overflow-x: hidden;
  font-size: 130px;
  font-weight: bold;
}

.track1 {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquees 32s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0); 
  }
  to { 
    transform: translateX(-50%);
  }
}

@keyframes marquees {
  from { 
    transform: translateX(-50%); 
  }
  to { 
    transform: translateX(0%); 
  }
}
