.socialicons {
  list-style: none;
  padding: 0;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 50%;
  margin: 0 auto;
  gap: 10px;

  &__link {
    font-size: 26px;
    font-weight: bold;
    position: relative;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin-left: 20px;
    }
  }

  @include xx {
    width: 65%;
  
    &__link {
      font-size: 22px;
    }
  
    &__item {
  
      p {
        margin-left: 15px;
      }
    }
  }

  @include xl {
    width: 70%;
  
    &__link {
      font-size: 17px;
    }
  
    &__item {
  
      p {
        margin-left: 10px;
      }

      img {
        max-width: 22px;
      }
    }
  }

  @include md {
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
  
    &__link {
      font-size: 18px;
    }
  
    &__item {
  
      p {
        margin-left: 10px;
      }

      img {
        max-width: 20px;
      }
    }
  }
}