@import 'media';
@import 'resets';
@import 'container';
@import 'header';
@import 'menu';
@import 'addtocart';
@import 'banner';
@import 'numbering';
@import 'collection';
@import 'form';
@import 'crousel';
@import 'socialicons';
@import 'newproducts';
@import 'features';
@import 'footer';
@import 'payment';
@import 'footermenu';
@import 'scrollup';